<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501516356866-hn4sntk2sssce3i1ll1ueiard66kfs8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501516356866-hn4sntk2sssce3i1ll1ueiard66kfs8e</string>
	<key>API_KEY</key>
	<string>AIzaSyBc1cbhLrSd7GcNCH7hwKcTR07L-r5h9wU</string>
	<key>GCM_SENDER_ID</key>
	<string>501516356866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aditiSainiApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-aditi</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-aditi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501516356866:ios:a141aa76dcc3f8bf1bc61b</string>
</dict>
</plist>